!!!
%html
  %head
    / :javascript
    /   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    /   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    /   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    /   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    /   })(window,document,'script','dataLayer','GTM-K4HK4R');

    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    / %noscript
    /   %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-K4HK4R", :style => "display:none;visibility:hidden", :width => "0"}
    = yield
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,700", :rel => "stylesheet"}
